.gallery {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 4px; 
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10px;
}

.galleryItem {
  flex: 1 1 calc(25% - 4px); 
  box-sizing: border-box; 
}